.DS_Store
*.iml
*.dex
*.class
*.apk
*.ap_
bin/
gen/
.gradle/
.externalNativeBuild
/build
/captures
/local.properties
/.idea
!/.idea/codeStyles/
!/.idea/dictionaries/
!/.idea/inspectionProfiles/
!/.idea/runConfigurations.xml
!/.idea/encodings.xml